@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

header {
    padding: 10px;
    text-align: center;
    background-color: #121D26;
    color: white;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

body{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
    color: black;
}

ul{
    background-color: #AAB1BF;
    text-align: center;
    list-style-type: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    text-decoration: none;
    margin: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}